@import url(colors.css);

.option-active{
    color:blue
}
.option-active:hover{    
    color: rgb(225, 58, 58);
}

.top-margin-10px{
    margin-top: 10px;
}

.right-padding-10px{
    padding-right: 85%;
}

.aling-right{
    align-items: right;
}

.transition{
    transition: all 0.3s;
}

.flex{
    display: flex;
}